@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i&display=swap&subset=cyrillic');

body {
	position: relative;
	display: grid;
	grid-template-columns: 1fr minmax(900px, 1140px) 1fr;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5em;
	color: #323232;
}

header,
.line,
main,
footer {
	grid-column: 2/-2;
}

header {
	position: relative;
}

header img {
	margin-bottom: 100px;
	vertical-align: bottom;
}

h1 {
	margin: 0;
	font-size: 24px;
	font-weight: 500;
}

p {
	margin: 0;
	font-size: 16px;
	font-weight: 300;
	
}

h2 {
	position: relative;
	margin-top: 0;
	font-size: 18px;
	font-weight: 500;
	color: gray;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul > li {
	margin-bottom: 1em;
}

h3 {
	margin: 0;
	font-size: 16px;
	font-weight: 500;
	color: #323232;
}

a {
	text-decoration: none;
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

.line {
	margin: 1em 0;
	border-bottom: 1px solid #323232;
	opacity: 0.2;
}

.none {
	display: none;
}

@media (min-width: 920px) {
	header {
		display: flex;
		margin-bottom: 1em;
	}

	header::before {
		content: '';
		position: absolute;
		top: 50px;
		right: 0;
		width: 1040px;
		height: 500px;
		background: gray;
		z-index: -2;
	}

	header section:last-of-type {
		margin-top: 100px;
		margin-left: 50px;
		color: white;
	}

	footer section {
		position: absolute;
		top: 300px;
		margin-left: 550px;
		color: white;
	}

	footer h2 {
		color: white;
	}

	footer a {
		color: white;
	}
} 

@media (max-width: 920px) {
	body {
		display: grid;
		grid-template-columns: 10px 1fr 10px;
	}

	header img {
		margin-top: 10px;
		margin-bottom: 10px;
		width: 100%;
	}

	.none {
		display: block;
	}
} 